/* GENERAL */
body{
    font-family: 'Roboto', sans-serif;
    color: #2f436c;
}

/* COMMON UTILITIES */
a{
    transition: all 300ms;
}

ul li{
    list-style: none;
}

ul{
    padding: 0;
}

h1,
h2,
h3,
h4{
    font-weight: 700;
}

.bg-grey{
    background-color: #f3f5f9;
}

.bg-gradient{
    background-image: linear-gradient(to top, #001e99, #0047c5);
}

/* COMMON UTILITIES END*/

/* HEADER */
header .do-navbar{
    background-color: white;
    height: 70px;
    padding-top: 10px;
    border-radius: 0;
    border: none;
    box-shadow: 0px 1px 10px 0px rgba(128, 128, 128, 0.26);
}

header .do-navbar .do-brand img{
    width: 200px;
}

header .do-navbar a.do-brand{
    padding-top: 4px;
    padding-bottom: 0;
    margin-right: 60px;
}

header .do-navbar ul > li a{
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    color: #2f436c !important;
    transition: all 300ms;
    font-size: 1.7rem;
    font-weight: 500;
}

header .do-navbar .do-navbar-toggle{
    position: relative;
    bottom: 2px;
    left: 2px;
    border: none;
    font-size: 1.5rem;
    color: #3f8fff !important;
}

header .do-nav,
header .do-navbar-right{
    margin-top: 0;
    margin-bottom: 0;
}

header .do-navbar ul.do-navbar-right > li a.do-btn.do-btn.do-btn-signup{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

header .do-navbar .do-dropdown a,
header .do-navbar .do-dropdown{
    position: relative;
    cursor: pointer;
    
}

header .do-navbar .do-dropdown a::after{
    content: "\f078";
    font-family: "Font Awesome 5 Free";  
    font-weight: 900; 
}

header .do-dropdown .subsection{
    z-index: 9;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    height: 0px; /* fake content */
    width: 96vw;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;
    border-radius: 8px;
    box-shadow: 0px 1px 10px 0px rgba(128, 128, 128, 0.26);
    text-align: center;
}

header .do-dropdown .subsection h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #2f436c !important;
}

/* decoration & animation */
header .do-navbar ul > li a:hover{
    background-color: #579aff !important;
    color: #fff !important;
}

header .do-navbar .do-navbar-toggle:hover,
header .do-navbar .do-navbar-toggle:focus{
    background-color: transparent;
}

header .do-navbar .do-dropdown a:hover .subsection{
    opacity: 1;
    visibility: visible;
    height: 500px;
}
/* HEADER END */
 
/* JUMBOTRON */
.jumbotron{
    margin-bottom: 0;
    padding-top: 11rem;
    padding-bottom: 5rem;
    background-color: transparent;
    background-image: url("../img/bg-banner-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .do-left.contents{
    color: #fff;
}

.jumbotron h1{
    font-weight: 700;
}

.jumbotron .do-right.contents{
    padding-top: 2rem;
}

.jumbotron .do-right .popup-login{
    background-color: #fff;
    padding: 3rem;
    border-radius: 8px;
}

.jumbotron .do-right .popup-login h2{
    font-weight: 700;
}

.jumbotron .do-right form *{
    font-weight: 700;
}

.jumbotron .do-right .popup-login h2 + h2{
color: #006aff;
margin-top: 0;
}

.jumbotron .do-btn-popup{
    width: 100%;  
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 300ms;
    color: #fff;
    background-color: #579aff;
    margin-bottom: 1.5rem;
}

.jumbotron .google-login{
    position: relative;
    display: inline-block;
    width: 100%;  
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 300ms;
    color: #747474;
    text-decoration: none !important;
    box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.274);
    font-weight: 700;
    margin-bottom: 1rem;
}

.jumbotron .google-login img{
    width: 2rem;
    position: absolute;
    left: 1rem;
}

.jumbotron .do-right h5 a{
    text-decoration: underline;
}

/* decoration & animation */
.jumbotron .do-btn-popup:hover{
    color: #579aff;
    border: 1px solid #579aff;
    background-color: white;
}

.jumbotron .google-login:hover{
    background-color: rgba(128, 128, 128, 0.534);
    color: white;
    box-shadow: none;
}
/* JUMBOTRON END */

/* INNOVATIVE BUSINESS */
.innovative .contents{
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
}

.innovative ul{
    padding: 0;
}

.innovative h5{
    font-size: 1.2rem;
    color: #848fa6;
    text-transform: uppercase;
    font-weight: 700;

}

.innovative ul li{
    display: inline-block;
    
    margin: 10px 20px;
    width: calc((100% / 2) - 48px);
}

.innovative ul li img{
    width: 100%;
}
/* INNOVATIVE BUSINESS END */

/* DEPLOY AND SCALE */
.deploy{
    color: #5c6a88;
    font-size: 2rem;
    padding-top: 3.5rem;
}

.deploy h2,
.deploy h3{
    font-weight: 700;
    color: #2f436c;
}

.deploy .contents{
    margin-bottom: 5rem;
}

.deploy .aside{   
    border-left: 2px solid #868fa5;
    padding-left: 2rem;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.deploy .aside ul li{
    padding: 1rem 0;
}

.deploy .aside ul li a{
    color: #868fa5;
    text-decoration: none;
}

.deploy .inner-contents{
    padding-bottom: 2rem;
}

.deploy .inner-contents p{
    font-size: 1.5rem;
}

.deploy .inner-contents h3{
    font-size: 2rem;
}
/* DEPLOY AND SCALE END */

/* DESIGNED FOR DEVELOPERS */
.designed{
 padding: 4.5rem 0 4.5rem;
}

.designed .intro{
    padding-bottom: 3.5rem;
}

.designed .intro p{
    color: #5c6a88;
    font-size: 2rem;
}

.designed .do-slide .photo-title-row{
    position: relative;
}

.designed .do-slide .photo-title-row img{
    margin-bottom: 2.5rem;
}

.designed .do-slide .circle{
    cursor: pointer;
    display: inline-block;
    margin: 1px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #579aff;
}

.designed .do-slide .photo-title-row + .circle{
    background-color: #579aff;
}
/* DESIGNED FOR DEVELOPERS END*/

/* BUSINESS FEATURES */
.features{
    padding: 4rem 0 2rem;
}

.features h2{
    margin-bottom: 1rem;
}

.features .inner-content{
    padding: 2rem 0;
}
/* BUSINESS FEATURES END*/

/* SERVICE YOUR CUSTOMERS */
.customers{
    color: #fff;
    padding: 5rem 0 4rem;
}

.customers table{
    margin-top: 2.5rem;
    font-size: 1.2rem;
}

.customers table tr th{
    text-align: left;
    padding-left: 2rem;
}

.customers table tr td:last-child{
    text-align: right;
    padding-right: 2rem;
}

.customers table tr td:nth-last-child(2){
    color: #b3c2e7;
}
/* SERVICE YOUR CUSTOMERS END*/

/* DEVELOPMENT TEAMS */
.development{
    padding: 4.5rem 0 4.5rem;
}
   
.development .intro{
    padding-bottom: 3.5rem;
}
   
.development .intro h2{
    margin-bottom: 3rem;
}

.development .do-slide .photo-title-row #custom-p{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.development .do-slide .photo-title-row .photo-container{
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    position: relative;
}
   
.development .do-slide .photo-title-row img{
    max-width: 100%;
    margin-bottom: 2.5rem;
}

.development .do-slide .photo-title-row .photo-container p{
    color: #5c6a88;
    margin-bottom: 1rem;
}

.development .do-slide .photo-title-row .photo-container .testo{
    font-size: 1.2rem;
}

.development .do-slide .photo-title-row .photo-container .testo + .testo{
    margin-bottom: 1rem;
}

.development .do-slide .photo-title-row .photo-container a{
    font-size: 1.2rem;
}
   
.development .do-slide .circle{
    cursor: pointer;
    display: inline-block;
    margin: 1px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #579aff;
}
   
.development .do-slide .photo-title-row + .circle{
    background-color: #579aff;
}
/* DEVELOPMENT TEAMS END*/

/* GET STARTED */
.get-started{
    padding: 4rem 0 4.5rem;
    background-image: linear-gradient(to top, #001e9a, #0042bb);
    color: white;
}

.get-started h2{
    margin-bottom: 2.2rem;
}

.get-started .do-btn-big{
    display: inline-block;
    color: #086fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    transition: all 300ms;
}

/* animation & decoration */
.get-started .do-btn-big:hover{
    background-image: linear-gradient(to top, #086fff, #539afd);   
    color: white;
}
/* GET STARTED END */

/* FOOTER */
footer{
    background-color: #031c4e;
    padding: 5rem 0;
    color: #8791a6;
}

footer .contents img{
    margin-bottom: 1.5rem;
}

footer .contents .testo + .testo{
    color: #4d5d7e;
}

footer .contents ul li{
    display: inline-block;
    margin-top: 1rem;
    margin-right: 0.7rem;
    font-size: 2rem;
}

footer ul li a{
    color: #8791a6;
    line-height: 2.5rem;
}

footer ul li h4{
    color: #fff;
    margin-bottom: 1rem;
}

/* decoration & animation */
footer ul li a:hover{
    text-decoration: none;
    color: white;
}
/* FOOTER END */

/* CHAT BOT */
.chat-bot{
    cursor: pointer;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    filter: drop-shadow(0px 3px 10px rgba(112, 112, 112, 0.363));
}

.chat-bot .img-flow{
    background-color: #006aff;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.chat-bot .badge-outer,
.chat-bot .badge-outer .inner,
.chat-bot .message,
.chat-bot .message .triangle{
    position: absolute;
}

.chat-bot .badge-outer{
    width: 16px;
    height: 16px;
    background-color: white;
    color: white;
    opacity: 0;
    border-radius: 50%;
    top: -8px;
    right: -8px;
    animation: hide 300ms 3s linear forwards;
    transition: all 300ms;
}

@keyframes hide{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.chat-bot .badge-outer .inner{
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
    line-height: 14px;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-bot .message{
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    width: 0px;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 20px);
    transition: all 300ms;
    opacity: 0;
    animation: show 300ms 3s linear forwards;
}

@keyframes show{
    from{
        width: 0px;
        opacity: 0;
    }

    to{
        width: 290px;
        opacity: 1;
    }
}

.chat-bot .message .triangle{
    background-color: white;
    width: 16px;
    height: 16px;
    right: -8px;
    bottom: 10px;
    transform: rotate(45deg);
}

/* decorations */
.chat-bot:hover .img-flow{
    transform: scale(1.05);
}
/* CHAT BOT END */

/* RESPONSIVE */
/* iPhones & smartphones */
@media screen and (max-width: 290px){
    .jumbotron .do-left.contents h1{
        font-size: 3.5rem;
    }

    .jumbotron .google-login img{
        display: none;
    }

    .customers table{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 320px){
    header .do-navbar .do-brand img{
        width: 190px;    
    }

    header .do-navbar a.do-brand{
        margin-right: 0px;
    }
}

@media screen and (max-width: 420px){
    .customers h2{
        font-size: 2.5rem;
    }

    @keyframes show{
        from{
            width: 0px;
            opacity: 0;
        }
    
        to{
            width: 200px;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 767px){
    .designed .intro{
        padding-bottom: 6rem;
    }

    .designed .do-slide .photo-title-row{
        padding-bottom: 6rem;
    }
}

@media screen and (max-width: 992px){
    .features h3{
        font-size: 2.2rem;
    }

    .development .intro h2{
        font-size: 2.2rem;
    }
}

/* iPads & tablets */
@media screen and (min-width: 768px){
    .innovative h5{
        font-size: 1.55rem;
    }
    
    .innovative ul li{
        margin-left: 10px;
        margin-right: 10px;
        width: calc((100% / 6) - 48px);
    }

    .designed .do-slide .photo-title-row h5::after,
    .development .do-slide .photo-title-row .photo-container .testo::after{
        content: "\f054";
        font-family: "Font Awesome 5 Free";  
        font-weight: 900;
        font-size: 4.5rem;
        color: currentColor;
        position: absolute;
        right: -5.5rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .designed .do-slide .photo-title-row h5::before,
    .development .do-slide .photo-title-row .photo-container .testo::before{
        content: "\f053";
        font-family: "Font Awesome 5 Free";  
        font-weight: 900;
        font-size: 4.5rem;
        color: #6f7b97;
        position: absolute;
        left: -5.5rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .customers table{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    header .navbar-header{
        float: none;
    }

    header .navbar-right{
        float: none !important;
    }

    header .navbar-toggle{
        display: block;
        margin-right: 0;
    }

    header .navbar-toggle .do-open{
        font-size: 1.6rem;
    }

    header .navbar-collapse{
        width: 100vw;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    header .navbar-fixed-top{
        top: 0;
        border-width: 0 0 1px;
    }

    header .navbar-collapse.collapse{
        display: none !important;
    }

    header .navbar-nav{
        float: none !important;
        margin-top: 7.5px;
    }

    header .navbar-nav > li{
        float: none;
    }

    header .navbar-nav > li > a{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header .collapse.show{
        display: block !important;
        margin: 0;
    }

    header .do-navbar div.container{
        margin: 0;
        padding: 0;
        max-width: 100vw;
    }

    header .do-nav,
    header .do-navbar-right{
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        width: 100%;
    }

    header .do-navbar a.do-brand img{
        margin-left: 15px;
    }

    .jumbotron .do-left.contents h1{
        font-size: 4rem;
    }
}

/* desktop */
@media screen and (min-width: 993px){
    header .collapse.show{
        background-color: transparent !important;
    }

    header .do-navbar ul > li a:hover{
        background-color: transparent !important;
        color: #3f8fff !important;
    }

    header .do-navbar .do-brand img{
        margin-right: 70px;
    }

    header .do-navbar li .do-btn.do-btn-signup{
        margin-top: 7px;
        margin-left: 4px;
        padding: 8px;
        border: 1px solid #3f8fff;
        color: #3f8fff !important;
        border-radius: 8px;
        transition: all 300ms;
    }

    header .do-navbar li .do-btn.do-btn-signup:hover{
        border: 1px solid transparent;
        color: #fff !important;
        background-color: #3f8fff !important;
    }

    header .do-navbar .do-dropdown a,
    header .do-navbar .do-dropdown{
    position: inherit;
    }

    header .do-dropdown .subsection{
        z-index: 9;
        position: absolute;
        left: 50%;
        top: 70px;
        transform: translateX(-50%);
        height: 0px; /* fake content */
        width: 99.1vw;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: all 300ms;
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .jumbotron .do-left.contents{
        padding-right: 1rem;
    }

    .development .do-slide .photo-title-row img{
        max-width: 70%;
    }
}